<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3> Further Information</h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 10px;">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="panel_1">
                        <h2 class="panel-title">
                            <a role="button" data-toggle="collapse" 
                                data-parent="#accordion" href="#collapseOne" 
                                aria-expanded="true" aria-controls="collapseOne">
                                    About Decentralised Identifiers
                            </a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" 
                            role="tabpanel" aria-labelledby="panel_1">
                        <div class="panel-body">
                            <p>info text1</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="panel_2">
                        <h2 class="panel-title">
                            <a role="button" data-toggle="collapse" 
                                data-parent="#accordion" href="#collapseTwo" 
                                aria-expanded="true" aria-controls="collapseTwo">
                                    About Semantic Overlay Architecture
                            </a>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" 
                            role="tabpanel" aria-labelledby="panel_2">
                        <div class="panel-body">
                            <p>info text2</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="panel_3">
                        <h2 class="panel-title">
                            <a role="button" data-toggle="collapse" 
                                data-parent="#accordion" href="#collapseThree" 
                                aria-expanded="true" aria-controls="collapseThree">
                                    Provide Feedback
                            </a>
                        </h2>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" 
                            role="tabpanel" aria-labelledby="panel_3">
                        <div class="panel-body">
                            <p>info text3</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="panel_4">
                        <h2 class="panel-title">
                            <a role="button" data-toggle="collapse" 
                                data-parent="#accordion" href="#collapseFour" 
                                aria-expanded="true" aria-controls="collapseFour">
                                    DID Lint API
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" 
                            role="tabpanel" aria-labelledby="panel_4">
                        <div class="panel-body">
                            <p>info text4</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="panel_5">
                        <h2 class="panel-title">
                            <a role="button" data-toggle="collapse" 
                                data-parent="#accordion" href="#collapseFive" 
                                aria-expanded="true" aria-controls="collapseFive">
                                    DID Validation on the Command Line
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" 
                            role="tabpanel" aria-labelledby="panel_5">
                        <div class="panel-body">
                            <p>info text5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
