<div class="container" style="margin-top: 30px;">
  <div class="row">
      <div class="col-md-12">
        <%= image_tag 'logo-ngi-ontochain-positive.png', align: "right", style: "height: 60px; margin-top: -10px; vertical-align: text-bottom;" %>This project has received funding from the European Union’s Horizon 2020 research and innovation program through the <a href="https://ontochain.ngi.eu/">NGI ONTOCHAIN program</a> under cascade funding agreement No 957338. &nbsp;Learn more about <a href="https://github.com/OwnYourData/didlint">DID Lint</a>.
      </div>
  </div>
</div>

<footer class="footer">
  <div class="container" style="margin-bottom: 30px;">
    <nav>
      <ul style="padding-right: 120px;">
        <li><%= link_to "OwnYourData.eu", 'https://www.ownyourdata.eu' %> © 2023</li>
        <li><%= link_to t('footer.security'), 'https://www.ownyourdata.eu/en/privacy-policy/', class: 'hidden-xs' %></li>
        <li><%= link_to t('footer.impressum'), 'https://www.ownyourdata.eu/en/imprint/', class: 'hidden-xs' %></li>
      </ul>
    </nav>
  </div>
</footer>
