<div style="background-color: #F2F3F9;">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="min-height: 60px; margin-top: 20px;">
        <div style="white-space: nowrap;">
          <div style="display: inline-block;"><%= image_tag 'oyd.png', style: "height: 60px; margin: -20px -5px -10px -10px; vertical-align: text-bottom;" %></div>
          <div style="display: inline-block;">
            <h1 class="visible-xs visible-sm hidden-md hiden-lg" style="text-align: left; margin-bottom: 10px; font-size: x-large; padding-right: 110px;"><div class="title-link">DID Lint<span style="font-size: 60%; top: -0.9em; position: relative; vertical-align: baseline;">Beta</span></div></h1>
            <h1 class="hidden-xs hidden-sm visible-md visible-lg" style="text-align: left; margin-bottom: 10px; font-size: x-large;"><div class="title-link">DID Lint<span style="font-size: 60%; top: -0.9em; position: relative; vertical-align: baseline;">Beta</span> - The DID Validator</div></h1>
          </div>
          
          <a href="https://www.ownyourdata.eu/" style="color: #42B58C; text-decoration: none; white-space: nowrap;" class="oyd-link">
            <span style="text-decoration: underline;">
              OwnYourData.eu</span> 
            <i class="fa fa-long-arrow-up" aria-hidden="true" style="-webkit-transform:rotate(30deg); -moz-transform:rotate(30deg); -ms-transform:rotate(30deg); -o-transform:rotate(30deg); transform:rotate(30deg);"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
